h1{
    /* external css */
    color: teal;
}
.para1{
    color: black;
}
#para20{
    color: darkmagenta;
    background-color: black;
}
#para20:hover{
    color: aqua;
    background-color: blue;
}
body{
    width: 100%;
    height:100vh;
    background-color: antiquewhite;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/219/598/470/ganesha-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}