*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: boder-box;
}

.navbar{
    height: 90px;
    background-color: #0f1111;
    color: #ffffff;

}
.nav-logo{
    height: 50px;
    width: 170px;
}

.logo{
    height: 50px;
    width: 100%;
    display: flex;
    position:static;
    background-repeat: no-repeat;
    align-items: center ;
    background-size: contain;
    background-image: url("./img/download2.png");
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */